<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  </head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Főoldal</a></li>
            <li><a href="tanarok.html">Tanáraink</a></li>
            <li><a href="diakok.html">Diákoknak</a></li>
        </ul>
    </nav>

    <main>
        {{ content }} </main>

    <footer>
        <p>© 2026 Iskolai Weboldal Projekt</p>
    </footer>
</body>
</html>
